body{
  background-color: black;
  color: #fff;
  font-family: 'open_sans', Arial, sans-serif;
  font-size: 16px;
  height: 100vh;
}


.container{
  height: 100%;
}

/*-----------------------site header---------------------*/
.site-header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:100%;
  padding: 2rem;

    @include tablet{
      flex-direction: row;
    }

    @include desktop{
      justify-content: flex-start;
    }

}

.moveToTop {
  height: 40%;

  @include tablet {
    height: 15%; 
  }

}

.logo{
  height: auto;
  max-width: 100%;
 
  .nyt-logo-small{
    height: 150px;
    @include tablet{
      height: 90px;
    }
  }

}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-searchform{
  font-size: 1rem;
}

.inner-searchform select{
  font-size: 1.2rem;
}


/*-----------------------story grid---------------------*/

.loader{
  height: 10%;
  width: 10%;
  position: relative;
  left: 40%;
}

.top-story{
  display:flex;
  flex-wrap: wrap;
  flex-direction: space-around;
  list-style: none;
  padding-left: 0rem;

    li{
      position:relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    img{
      background-size: cover;
      width: 100%;
    }

    p{
      position:absolute;
      bottom: 0rem;
      background-color: rgba(0,0,0,0.6);
      margin-bottom: 0rem;
      padding: 0.5rem;
      display: flex;
      font-size: 1rem;
      @include tablet{
        bottom: -210px;
        transition: all 1s ease .5s;
      }
      @include desktop{
        bottom: -210px;
        transition: all 1s ease .5s;
      }
  }
}


.article-list{
  height: 420px;  
  flex: 0 1 100%;
  overflow: hidden;

      @include tablet{
        flex: 0 1 33.3%;

          &:hover {
            p {
          bottom: 0;
            }
        }
      }

      @include desktop{
        flex: 0 1 25%;

          &:hover {
            p {
          bottom: 0;
            }
        }
      }

    a{
      height: 100%;
    }
    img{
      height: 420px;
    }
    p{
      line-height: 1.75rem;
      font-size: 1rem;
      color: #fff;
    }
}

.innerStoryItems{
  background-size: cover;
  background-position: center;
  height: 420px;
}

.story-grid p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox{
  width: 100%;
}

/*-------------------footer------------------------*/

.site-footer{
    margin-top: 0;
    margin-bottom:3rem;
    text-align: center;
    padding: 0 2rem;
    color:#c2c2c2;
    position:relative;
  
      @include desktop{
        text-align: left;
      }

  }

 .copyright p{
   font-size: 1rem;
   margin-top: 0;
   margin-bottom: 0;
  }

.copyright span{
  text-transform: uppercase;
 }


